#diferencial-na-advocacia{
  background: url(./assets/img/icons/blur.svg);
  background-size: cover;
  background-position: bottom;
}
.diferencial{
  z-index: 10;
}
.diferencial-txt {
  gap: 20px;
  h3{
    font-weight: 500;
  }
  p{
    color: $grey;
  }
}