.bg-motivos{
  background: url(./assets/img/icons/blur.svg);
  background-position: left 500px top -200px;
  background-repeat: no-repeat;
}
#motivos {
  h4{
    margin-bottom: 20px;
  }
  p{
    color: #E7E7E7;
    line-height: 160%;
  }
  .motivos-lista{
    margin-top: 80px;
    ul{
      padding-left: 40px;
    }
    li{
      margin-bottom: 10px;
    }
  }
  .btn {
    grid-column: span 2;
    margin-top: 40px;
  }
}