#hero{
  background: radial-gradient(97.52% 97.52% at 83.07% 30.93%, #084074 0%, rgba(8, 64, 116, 0) 100%), #000000;
  height: 100vh;
  background-image: url(./assets/img/icons/simbolo-legalboss.svg);
  background-repeat: no-repeat;
  background-position: top -200px right -300px;
  background-size: 800px;
  
  // position: relative;
}
.hero-container{
  height: 100vh;
  display: flex;
}
.hero-mouse {
  h2{
    width: 60%;
    text-align: center;
    margin-bottom: 40px;
  }
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}